<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Diary Web App</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'entries/css/style.css' %}">
    </head>

    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        
        <nav class="bottom-nav" aria-label="Primary">

            <!-- HOME -->
            <a href="{% url 'home' %}" class="nav-item active">
                <img src="{% static 'entries/svg/home-active.svg' %}" class="icon" alt="Home">
                <span>Home</span>
            </a>
            
            <!-- ADD BUTTON -->
            <a href="{% url 'create_entry' %}" class="nav-fab" aria-label="New diary entry">
                <img src="{% static 'entries/svg/plus.svg' %}" alt="Add">
            </a>

            <!-- ENTRIES -->
            <a href="{% url 'entry_list' %}" class="nav-item active">
                <img src="{% static 'entries/svg/entries-idle.svg' %}" class="icon" alt="Entries">
                <span>Entries</span>
            </a>  

        </nav>

        <!-- Voice Command -->
        <button type="button" class="voice-btn record" id="micNavBtn">
            <img src="{% static 'entries/svg/mic-idle.svg' %}" id="micNavIcon" alt="Mic">
        </button>

        {% block javascript %}
        <script src="{% static 'entries/js/script.js' %}"></script>
        
        {% endblock %}
    </body>
</html>