<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LUMEN: Profile Page</title>
    </head>

    <body>
         <a href="{% url 'home' %}" class="btn btn-secondary entry-detail-back">
            <img src="" class="padding-top: 9px icon" alt="Back">Back
        </a>
        <h1>{{ user.username }}'s Profile</h1>
        <a href="{% url 'logout' %}">Logout</a>
    </body>

</html>